APP_NAME = 'Rag App'
APP_VERSION = '0.1'
ENV= 'dev'
OPEN_API_KEY = 
FILE_ALLOWED_TYPES = ["text/plain","application/pdf"]
FILE_MAX_SIZE = 10
UPLOAD_ROOT='assets/uploads'
PROCESSED_ROOT='assets/processed'
MONGODB_URL=mongodb://localhost:28017
MONGODB_DATABASE=mini-rag

