APP_NAME = 'Rag App'
APP_VERSION = '0.1'
ENV= 'dev'
OPENAI_API_KEY= 
FILE_ALLOWED_TYPES = ["text/plain","application/pdf"]
FILE_MAX_SIZE = 10
UPLOAD_ROOT='assets/uploads'
PROCESSED_ROOT='assets/processed'
MONGODB_URL=mongodb://localhost:28017
MONGODB_DATABASE=mini-rag
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=mini_rag_chunks
VECTOR_DB_BACKEND=QDRANT

EMBEDDING_BACKEND=OPENAI
EMBEDDING_MODEL_ID=text-embedding-3-small
EMBEDDING_DIM=1536

